---
version: '3.7'

secrets:
  thredds_tomcat_users:
    file: ./files/tomcat-users.xml

networks:
  thredds_network:

volumes:
  thredds_volume:
    labels:
      - "docker.volume.description=THREDDS Docker Volume"
      - "docker.volume.name=volume.thredds"

services:
  thredds:
    image: unidata/thredds-docker:4.6.13
    networks:
        thredds_network:
          aliases:
            - thredds
    volumes:
      - "thredds_volume:/usr/local/tomcat/logs/"
      - "thredds_volume:/usr/local/tomcat/content/thredds/logs/"
      - "thredds_volume:/usr/local/tomcat/conf/Catalina/localhost"
      - "thredds_volume:/usr/local/tomcat/work/Catalina/localhost/thredds"
    ports:
      - "80:8080"
      - "443:8443"
      - "8443:8443"
    env_file:
      - "compose.env"
    secrets:
      - source: thredds_tomcat_users
        target: /usr/local/tomcat/conf/tomcat-users.xml
        uid: '1000'
        gid: '999'
